.friends {
    margin-bottom: 30px;
}

.friends__avatar {
    width: 100px;
    margin-right: 10px;
}

.friends__list {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.friends__item {
    margin-bottom: 20px;
    width: 250px;
    padding: 10px;

    display: flex;
    align-items: center;

    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 14%) 0px 1px 1px, rgb(0 0 0 / 20%) 0px 2px 1px;
    background-color: rgb(255, 255, 255);
}

.friends__status {
    margin-right: 10px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.friend__online {
    background: green;
}

.friend__ofOnline {
    background: red;
}

.friends__avatar {
    width: 50px;
    height: 50px;
}