.friends {
    margin-bottom: 30px;
}

.friends__avatar {
    width: 100px;
    margin-right: 10px;
}

.friends__list {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.friends__item {
    margin-bottom: 20px;
    width: 250px;
    padding: 10px;

    display: flex;
    align-items: center;

    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(170, 164, 195);
    background-color: rgb(207, 204, 204);
}

.friends__status {
    margin-right: 10px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.friend__online {
    background: green;
}

.friend__ofOnline {
    background: red;
}

.friends__avatar {
    width: 50px;
    height: 50px;
}