.App {
    margin: auto;
}

.profile {
    text-align: center;
    margin: 30px auto;
    width: 222px;
    border-radius: 5px;
    border: 1px solid #d3d2d2;
    border-color: #d3d2d2;

    background-color: #ffffff;
}

.description {
    padding: 20px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

.name {
    margin-top: 10px;
    font-weight: 900;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    background-color: rgba(249, 245, 245, 0.68);
}

.stats li {
    padding: 10px;
    width: 60px;
    display: flex;
    flex-direction: column;

    border-top: 1px solid #d3d2d2;
}

.stats li:not(:last-child) {
    border-right: 1px solid #d3d2d2;
}

.quantity {
    font-weight: 500;
}